.content-details {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.content-detail {
  display: flex;
  align-items: center;
  gap: 15px;
  transition: var(--transition-smooth);
}

.content-detail.clickable {
  cursor: pointer;
}

.content-detail.clickable:hover {
  color: #b923e1;
  transform: translateX(5px);
}

.content-detail img {
  width: 24px;
  opacity: 0.8;
}

.content-detail p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
  .content-detail p {
    font-size: 16px;
  }
}