.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-skill {
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;
}

.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.about-skill p {
  min-width: 150px;
  font-size: 24px;
  font-weight: 500;
}

.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(267deg, #df8908 -5.09%, #b415ff 106.28%);
}

.about-skill .html-class {
  width: 300px;
}

.about-skill .JavaScript-class {
  width: 350px;
}

.about-skill .JS-class {
  width: 390px;
}

.about-skill .Next-class {
  width: 300px;
}

@media (max-width: 768px) {
  .about-skills {
    text-align: center;
  }

  .about-skill {
    gap: 20px;
    align-items: center;
  }

  .about-skill p {
    font-size: 20px;
  }

  .about-skill .html-class {
    width: 200px;
  }

  .about-skill .JavaScript-class {
    width: 250px;
  }

  .about-skill .JS-class {
    width: 290px;
  }

  .about-skill .Next-class {
    width: 220px;
  }
}

@media (max-width: 375px) {
  .about-skills {
    gap: 16px;
    align-items: center;
    margin: 0 auto;
  }

  .about-skill {
    flex-direction: column;
    gap: 10px;
  }

  .about-skill p {
    font-size: 18px;
    min-width: auto;
    text-align: center;
  }

  /* .about-skill hr {
    width: 80%;
    height: 5px;
  } */

  .about-skill .html-class {
    width: 100px;
  }

  .about-skill .JavaScript-class {
    width: 150px;
  }

  .about-skill .JS-class {
    width: 190px;
  }

  .about-skill .Next-class {
    width: 120px;
  }
}

/* end */

/* .about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-skill {
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;
}

.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.about-skill p {
  min-width: 150px;
  font-size: 24px;
  font-weight: 500;
}

.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(267deg, #df8908 -5.09%, #b415ff 106.28%);
}

.about-skill .html-class {
  width: 300px;
}

.about-skill .JavaScript-class {
  width: 350px;
}

.about-skill .JS-class {
  width: 390px;
}

.about-skill .Next-class {
  width: 300px;
}



@media (max-width: 768px) {
  .about-skills {
    text-align: center;
  }

  .about-skill {
    gap: 25px;
    align-items: center;
  }

  .about-skill p {
    font-size: 20px;
  }


  .about-skill .html-class {
    width: 200px;
  }

  .about-skill .JavaScript-class {
    width: 250px;
  }

  .about-skill .JS-class {
    width: 290px;
  }

  .about-skill .Next-class {
    width: 220px;
  }
}


@media (max-width: 375px) {
  .about-skills {
    gap: 16px;
    align-items: center;
    margin: 0 auto;
  }

  .about-skill {
    flex-direction: column;
    gap: 10px;
  }

  .about-skill p {
    font-size: 18px;
    min-width: auto;
    text-align: center;
  }


  .about-skill .html-class {
    width: 100px;
  }

  .about-skill .JavaScript-class {
    width: 150px;
  }

  .about-skill .JS-class {
    width: 190px;
  }

  .about-skill .Next-class {
    width: 120px;
  }
} */