.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 80px 10%;
  margin: 0;
}

.about-title {
  position: relative;
}

.about-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.about-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.about-section {
  display: flex;
  gap: 80px;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.about-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  font-weight: 500;
}

.about-info p {
  width: 90%;
  padding-top: 10px;
  padding-left: 25px;
  margin: 0;
}

@media (max-width: 1024px) {
  .about {
    padding: 80px 5%;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 60px 4%;
    gap: 40px;
  }

  .about-title h1 {
    font-size: 50px;
    padding: 0;
    width: max-content;
  }

  .about-title img {
    width: 120px;
    right: -10px;
  }

  .about-section {
    flex-direction: column;
    gap: 40px;
  }

  .about-left {
    display: none;
  }

  .about-info {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  .about-info p {
    width: 100%;
    padding-left: 0;
  }
}

@media (max-width: 375px) {
  .about-title h1 {
    font-size: 32px;
  }

  .about-title img {
    width: 100px;
    right: -8px;
  }

  .about-info {
    font-size: 14px;
    line-height: 26px;
  }
}