.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}

.nav-bar .nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.logo {
  display: block;
  background-color: white;
  border-radius: 50px;

  /* width: 5rem;
  height: 4rem; */
}

.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img {
  display: flex;
  margin: auto;
}

.anchor-link {
  text-decoration: none;
  color: white;
}

.nav-close {
  display: none;
}

.menu-nav-open {
  display: none;
}

.nav-social {
  display: none;
}

@media (max-width: 768px) {
  .nav-bar {
    margin: 20px 50px;
    width: 100px;
  }

  .nav-connect {
    display: none;
  }

  .menu-nav-open {
    display: block;
    position: fixed;
    right: 50px;
  }

  .nav-close {
    display: block;
    position: relative;
    top: 30px;
    left: 150px;
    width: 30px;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background: #1f0016;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }

  .nav-menu li {
    font-size: 30px;
    padding-left: 8 0px;
    flex-direction: row;
    gap: 20px;
  }

  .nav-social {
    display: block;
    padding-right: 55px;
  }
}