.about-achievements {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 80px;
}

.about-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
}

.about-achievement:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.about-achievement h1 {
  font-size: 60px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-achievement p {
  font-size: 22px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .about-achievements {
    display: flex;
    width: 200%;
    justify-content: space-around;
    margin-bottom: 80px;
    border: 2px solid red;

  }

  .about-achievement {
    gap: 10px;
  }

  .about-achievement h1 {
    font-size: 34px;
    font-weight: 700;
  }

  .about-achievement p {
    text-align: center;
    font-size: 16px;
  }
}